/* REQUIRED FOR FIXED-NAVBAR */
body {
  padding-top: 50px;
  width: 98%;
}
/* TEMPLATE STYLES & GENERAL STYLES */
.page {
  bottom: 0;
  padding-top: 50px;
  position: absolute;
  top: 0;
  width: 98%;
  margin: auto;
}

.mainContent {
  padding-top: 50px;
}

.brdimg {
  width: 50px;
  height: 50px;
  position: relative;
  bottom: 5px;
}

.imgwell img {
  width: 100%;

}

.page h1 {
  font-size: 60px;
}

.page a {
  margin-top: 50px;
}

/* HOME PAGE STYLES */
.page-home {

}

.page-home button {
  margin: auto;
  display: block;
}

/* ABOUT PAGE STYLES */
.page-about button {
  margin: auto;
  display: block;
}

/* CONTACT PAGE STYLES */
.page-contact { }


/* SCROLLBAR STYLES */
::-webkit-scrollbar {
  width: 12px;
}

/* track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  background-color: #fff;
  border-radius: 10px;
}

/* handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #666;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}



/*
========================================
ANIMATION FUNCTIONS
========================================
@keyframes rotateFall {
  0%     { transform: rotateZ(0deg); }
  20%    { transform: rotateZ(10deg); animation-timing-function: ease-out; }
  40%    { transform: rotateZ(17deg); }
  60%    { transform: rotateZ(16deg); }
  100%   { transform: translateY(100%) rotateZ(17deg); }
}

@keyframes slideOutLeft {
  to { transform: translateX(-100%); }
}


@keyframes rotateOutNewspaper {
  to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}


@keyframes scaleUp {
  from { opacity: 0.3; -webkit-transform: scale(0.8); }
}

@keyframes slideInRight {
  from { transform: translateX(100%); }
  to   { transform: translateX(0); }
}


@keyframes slideInUp {
  from { translate: translateY(100%); }
  to   { translate: translateY(0); }
}

*/

/*
==================================
DEFAULT ANIMATIONS
==================================
.ng-enter {
  animation: scaleUp 0.5s both ease-in;
  z-index: 8888;
}

.ng-leave {
  animation: slideOutLeft 0.5s both ease-in;
  z-index: 9999;
}
*/

/*
==================================
PAGE ENTRY ANIMATIONS
==================================

.page-home.ng-enter {
  animation: scaleUp 0.4s both ease-in;
}
.page-home.ng-leave {
  animation: slideOutLeft 0.5s both ease-in;
}


.page-about.ng-enter {
  animation: slideInRight 0.5s both ease-in;
}
.page-about.ng-leave {
  animation: slideOutLeft 0.5s both ease-in;
}


.page-contact.ng-leave {
  animation: slideOutLeft 0.5s both ease-in;
}
.page-contact.ng-enter {
  animation: slideInRight 0.5s both ease-in;
}

*/
